*{
    margin: 0;

    padding: 0;
box-sizing: border-box;
}


#main{
    /* background-color: rgb(49, 119, 180); */
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.square{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rec{
   display: flex;
    
}
